:root {
  --background-color: #f0f8ff;
  --border-color: #808080;
  --link-color: #82c6fd;
  --link-text-color: #000000;
  --shadow-color: #000000;
  --title-font-size: 30px;
  --link-font-size: 20px;
}

.header {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 5px;
  height: 40px;
  flex-grow: 9;
}

.linkBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.linkBoxItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  background-color: var(--link-color);
  box-shadow: 1px 1px 4px var(--shadow-color);
  border-radius: 5px;
  height: 40px;
  width: 75px;
}

.menuLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--link-text-color);
}

.menuIcon {
  height: 20px;
  width: 20px;
}

h1 {
  font-size: var(--title-font-size);
}

a {
  font-size: var(--link-font-size);
}
